<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] PetFinderArg</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/>
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row justify-content-start">
                <div class="col-5 col-sm-5 col-md-auto order-last order-sm-0 logo ml-3">
                    <img src="~/icons/pets2.png" alt=""><span> Pet Finder Arg</span>
                </div>
            </div>
        </div>
    </header>

    <partial name="_CookieConsentPartial" />
    <main class="container-fluid">
        @if (User.IsInRole("Administrador"))
        {
        <div class="row">
            <div class="col-12 col-md-3 barra-lateral-izquierda ml-3" id="barra-lateral-izquierda">
                <nav>
                    <a asp-controller="Home" asp-action="Index"><img src="~/icons/home.png"> Home</a>
                    <a asp-controller="Usuario" asp-action="Index"><img src="~/icons/man.png" /> Perfil</a>
                    <a asp-controller="Mascota" asp-action="MiMascota"><img src="~/icons/pet.png" /> Mis Mascotas</a>
                    <a asp-controller="Mascota" asp-action="Index"><img src="~/icons/search.png" /> Mascotas Perdidas</a>
                    <a asp-controller="Encontrada" asp-action="Index"><img src="~/icons/girl.png" /> Mascotas Encontradas</a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Si encontraste una mascota hace click aca!"><img src="~/icons/dog.png" /> Encontre una Mascota!</a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Si se te perdio tu mascota hace click aca!"><img src="~/icons/veterinary.png" /> Cargar Mascota</a>
                    <a href="#"><img src="~/icons/password.png" /> Cambiar Contraseña</a>
                    <a asp-controller="Home" asp-action="Logout"><img src="~/icons/logout.png" /> Cerrar Sesi&oacute;n</a>
                </nav>
            </div>

            <a href="#" class="fondo-enlace" id="fondo_enlace"></a>

            <div class="col contenido-principal">
                <div class="publicar">
                    <div class="row"><!---- Fila del boton menu ---->
                        <div class="col">
                            <a href="#" class="btn-menu d-none d-md-none d-flex justify-content-between" id="btn-menu">
                                <span>Menu</span>
                                <img src="~/icons/menu-button.png">
                            </a>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-10 col-md-11">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
        else
        {
            <div class="row justify-content-center">
                <div class="col-12 col-md-6">
                    @RenderBody()
                </div>
            </div>
        }
    </main>

    <footer class="nav fixed-bottom border-top text-muted">
        <div class="container">
            &copy; 2019 - PetFinder - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    @RenderSection("Scripts", required: false)
</body>
</html>
