<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] PetFinderArg</title>

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <!--<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />-->

</head>
<body>
    <header>        
        <div class="container-fluid">
            <div class="row">
                <div class="mr-auto order-last order-sm-0 logo ml-3">
                    <img src="~/icons/pets2.png" alt=""><span> Pet Finder Arg</span>
                </div>

                @if (User.Identity.IsAuthenticated)
                {
                    <div class="ml-4 order-last order-sm-1">
                        <a asp-controller="Usuario" asp-action="Contacto" ><span class="text-light">Contacto&nbsp;&nbsp;</span></a>
                    </div>
                }
            </div>
        </div>
    </header>
    @if (User.Identity.IsAuthenticated)
    {
        <partial name="_CookieConsentPartial" />
        <main class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-3 barra-lateral-izquierda ml-3" id="barra-lateral-izquierda">
                    <nav>
                        <a asp-controller="Home" asp-action="Index"><img src="~/icons/home.png"> Home</a>
                        <a asp-controller="Usuario" asp-action="Index"><img src="~/icons/man.png" /> Perfil</a>
                        <a asp-controller="Mascota" asp-action="MiMascota"><img src="~/icons/pet.png" /> Mis Mascotas</a>
                        <a asp-controller="Mascota" asp-action="Index"><img src="~/icons/search.png" /> Mascotas Perdidas</a>
                        <a asp-controller="Encontrada" asp-action="Index"><img src="~/icons/girl.png" /> Mascotas Encontradas</a>
                        <a asp-controller="Encontrada" asp-action="Create" data-toggle="tooltip" data-placement="top" title="Si encontraste una mascota hace click aca!"><img src="~/icons/dog.png" /> Encontre una Mascota!</a>
                        <a asp-controller="Mascota" asp-action="Create" data-toggle="tooltip" data-placement="top" title="Si se te perdio tu mascota hace click aca!"><img src="~/icons/veterinary.png" /> Cargar Mascota</a>
                        <!--**********Boton Configuracion***********-->
                        <a href="#bloque1" aria-expanded="false" aria-controls="bloque1" data-toggle="collapse"><img src="~/icons/x26-config2.png" /> Configuraci&oacute;n</a>
                        <div class="collapse" id="bloque1">
                            <div class="dropdown-divider"></div>
                            <a asp-controller="Usuario" asp-action="CambiaClave" class="dropdown-item text-danger"><img src="~/icons/password.png" />&nbsp; Cambiar Contrase&ntilde;a &nbsp;</a>
                            <a asp-controller="Usuario" asp-action="CambiaMail" class="dropdown-item text-danger"><img src="~/icons/x26-mail.png" /> &nbsp; Cambiar Correo &nbsp;</a>
                            <div class="dropdown-divider"></div>
                        </div>
                        <!--***Fin Boton Configuracion***-->
                        <a asp-controller="Home" asp-action="Logout"><img src="~/icons/logout.png" /> Cerrar Sesi&oacute;n</a>
                    </nav>
                </div>
                <a href="#" class="fondo-enlace" id="fondo_enlace"></a>
                <div class="col contenido-principal">
                    <div class="publicar">
                        <div class="row">
                            <!---- Fila del boton menu ---->
                            <div class="col">
                                <a href="#" class="btn-menu d-none d-md-none d-flex justify-content-between" id="btn-menu">
                                    <span>Menu</span>
                                    <img src="~/icons/menu-button.png">
                                </a>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-12">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    }
    else
    {
        <div class="row">
            <div class="col-12">
                @RenderBody()
            </div>
        </div>
    }
    <footer class="nav fixed-bottom border-top text-muted">
        <div class="container">
            &copy; 2019 - PetFinder - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/jquery-1.11.1.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
