<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PetFinderArg</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/>
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-auto logo d-none d-sm-none d-md-block ">
                    <a asp-controller="Home" asp-action="Index"><img src="#" alt="Pet Finder Arg"></a>
                </div>                
            </div>
        </div>
    </header>

    <partial name="_CookieConsentPartial" />
    <main class="container">
        <div class="row">
            <div class="col-12 col-md-3 barra-lateral-izquierda" id="barra-lateral-izquierda">
                <nav>
                    <a asp-controller="Usuario" asp-action="Index"><i class="icon-users"></i>Perfil</a>
                    <a href="#"><i class="icon-mail"></i>Mis Mascotas</a>
                    <a href="#"><i class="icon-thumbs-up"></i>Mascotas Perdidas</a>
                    <a href="#"><i class="icon-play"></i>Mascotas Encontradas</a>
                    <a href="#"><i class="icon-picture"></i>Encontre una Mascota!</a>
                    <a href="#"><i class="icon-music"></i>Cargara Mascotas</a>
                    <a href="#"><i class="icon-book"></i>Cambiar Contraseña</a>
                </nav>
            </div>

            <a href="#" class="fondo-enlace" id="fondo_enlace"></a>

            <div class="col contenido-principal">
                <div class="publicar">
                    <div class="row">
                        <!---- Fila del boton menu ---->
                        <div class="col">
                            <a href="#" class="btn-menu d-none d-md-none d-flex justify-content-between" id="btn-menu">
                                <span>Menu</span>
                                <i class="icon-menu"></i>
                            </a>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-9">
                            @RenderBody()
                        </div>
                    </div>
                </div>                
            </div>            
        </div>
    </main>
    
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - PetFinder - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
