@model PetFinder.Models.CambiarCorreo

@{
    ViewData["Title"] = "CambiaMail";
}

<h4>CambiarCorreo</h4>
<hr />
<cite class="text-warning">ADVERTENCIA:Si cambia el correo debera loguearse nuevamente!</cite>
<div class="row">
    <div class="col-md-4">
        <form asp-action="CambiaMail">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">                
                <input asp-for="OldCorreo" value=@ViewBag.mail class="form-control" readonly />
                <span asp-validation-for="OldCorreo" class="text-danger"></span>
            </div>
            <div class="form-group">                
                <input asp-for="NewCorreo" class="form-control" required placeholder="Nuevo Correo"/>
                <span asp-validation-for="NewCorreo" class="text-danger"></span>
            </div>
            <div class="form-group">                
                <input asp-for="RepeatCorreo" class="form-control" reuired placeholder="Repita el nuevo correo"/>
                <span asp-validation-for="RepeatCorreo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar Cambios" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
