@model PetFinder.Models.Usuario
@inject DataContext context

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <h4>Registro de Usuario</h4>
            <hr />
            <span style="color:red" class="text-center">@ViewBag.Error</span>
            <div class="row">
                <div class="col-md-12">
                    <form asp-action="Create" class="needs-validation" novalidate>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <input asp-for="Apellido" class="form-control" placeholder="Apellido" />
                            <span asp-validation-for="Apellido" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Nombre" class="form-control" placeholder="Nombre" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Ciudad" class="form-control" placeholder="Ciudad" />
                            <span asp-validation-for="Ciudad" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Telefono" class="form-control" placeholder="Telefono" />
                            <span asp-validation-for="Telefono" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Email" class="form-control" placeholder="Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Clave" class="form-control" placeholder="Password" data-toggle="tooltip" data-placement="top" title="La contraseña debe contener de 6 a 8 caracteres y al menos una letra o un digito" />
                            <span asp-validation-for="Clave" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <select asp-for="ProvinciaId" class="form-control" placeholder="Provincia">
                            @foreach (var item in context.Provincias)
                            {
                                @:<option value="@item.ProvinciaId">@(item.NombreProvincia)</option>
                            }
                            </select>
                            <span asp-validation-for="ProvinciaId" class="text-danger"></span>
                        </div>
                        <div class="d-flex justify-content-around mb-2">
                            <div>
                                <input type="submit" value="Registrar" class="btn btn-primary" />
                            </div>
                            <div>
                                <a asp-controller="Home" asp-action="Login" class="btn btn-outline-success">Volver</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

