@model PetFinder.Models.Usuario
@inject DataContext context


@{
    ViewData["Title"] = "Editar";
}

<h4>Editar Perfil</h4>
<span style="color:red">@ViewBag.Error</span>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" method="post" class="needs-validation" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <input asp-for="Apellido" class="form-control" required/>
                        <div class="invalid-feedback">Ingrese Apellido.</div>
                    </div>
                    <div class="form-group">
                        <input asp-for="Nombre" class="form-control" required/>
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Ciudad" class="form-control" required/>
                        <span asp-validation-for="Ciudad" class="text-danger"></span>
                    </div>                
                    <div class="form-group">
                        <input asp-for="Telefono" class="form-control" required/>
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Email" class="form-control" readonly/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Clave" value="1234as" class="form-control" readonly/>
                        <span asp-validation-for="Clave" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <select asp-for="ProvinciaId" class="form-control">
                        @foreach (var item in context.Provincias)
                        {
                            @:<option @(item.ProvinciaId == Model.ProvinciaId ? "selected" : "") value="@item.ProvinciaId">@(item.NombreProvincia)</option>
                        }
                        </select>
                        <span asp-validation-for="ProvinciaId" class="text-danger"></span>
                    </div>
                    <div class="d-flex justify-content-around mb-3">
                        <div>
                            <input type="submit" value="Guardar Cambios" class="btn btn-primary" />
                        </div>
                        <div>
                            <a asp-action="Index" class="btn btn-outline-success">Volver</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
