@model PetFinder.Models.Encontrada

@{
    ViewData["Title"] = "Create";
}

<h4>Encontre una Mascota</h4><cite>Cargala para que su dueño se reencuentre con ella</cite>
<hr />
<div class="row">
    <div class="col-12 col-md-10">
        <form asp-action="Create" enctype="multipart/form-data" method="post" id="form_datos" class="needs-validation" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row detalle_mascota">
                <div class="col-12 col-md-6">
                    <button type="button" data-toggle="modal" data-target="#ModalMap" class="btn btn-warning text-sm-center">
                        <img src="~/icons/marker.png" /><span id="ubicacion">&nbsp;Seleccionar Ubicación:</span>
                    </button>

                    <div class="form-group">
                        <label>Zona</label>
                        <textarea asp-for="Lugar.Zona" class="form-control" placeholder="Descripciòn de la zona donde encontro la mascota" required></textarea>
                    </div>
                    <div class="form-group">
                        <label>Latitud</label>
                        <input id="lat" asp-for="Lugar.Latitud" class="form-control" required />

                        <label>Longitud</label>
                        <input id="lon" asp-for="Lugar.Longitud" class="form-control" required />
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div>
                        <input asp-for="ArchivoImagen" type="file" class="form-control" accept="image/*" required />
                    </div>
                    <div class="form-group">
                        <label asp-for="Descripcion" class="control-label"></label>
                        <textarea asp-for="Descripcion" class="form-control" required></textarea>
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Fecha" class="control-label"></label>
                        <input asp-for="Fecha" type="date" class="form-control" required />
                        <span asp-validation-for="Fecha" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group m-auto">
                    <input type="submit" value="Guardar Mascota" class="btn btn-primary" />
                </div>
            </div>

        </form>
    </div>
</div>

<div class="modal fade" id="ModalMap" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group form-inline">
                        <label class="control-label">Ubicación:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="ModalMapAddress" />
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                    </div>
                    <div id="ModalMapPreview" style="width: 100%; height: 400px;"></div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="form-group form-inline">
                        <label class="p-r-small col-sm-1 control-label">Lat.:</label>
                        <input type="text" class="form-control p-r-small col-sm-3 mr-3" id="ModalMap-lat" />

                        <label class="p-r-small col-sm-1 control-label">Long.:</label>
                        <input type="text" class="form-control p-r-small col-sm-3 mr-3" id="ModalMap-lon" />

                        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src='http://maps.google.com/maps/api/js?v3&key=AIzaSyBIN6hpUqdbpBoRwYTE1odhHdw1BEiMTVg'></script>
<script src="~/js/locationpicker.jquery.js"></script>

<script>

    $("#ModalMapPreview").locationpicker({
        location: {
            latitude: -33.302103,
            longitude: -66.337091
        },
        inputBinding: {
            latitudeInput: $("#ModalMap-lat"),
            longitudeInput: $("#ModalMap-lon")
            //locationNameInput: $("#ModalMapAddress")
        },
        enableAutocomplete: true,
        onchanged: function (currentLocation, radius, isMarkerDropped) {
            //$("#ubicacion").html($("#ModalMapAddress").val());
            $("#lat").val($("#ModalMap-lat").val());
            $("#lon").val($("#ModalMap-lon").val());
        }
    });
    $("#ModalMap").on("shown.bs.modal", function () {
        $("#ModalMapPreview").locationpicker("autosize");
    });

</script>