@model PetFinder.Models.Usuario
@{
    ViewData["Title"] = "Account";
}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Confirmacion de Cuenta</h1>
                <br />
                <span>Vienvenido @Model.Apellido @Model.Nombre</span>
                <p>Su cuenta fue confirma!</p>
                <p>Haga click en ir a Login para ingresar </p>
                <br />
                <a asp-controller="Home" asp-action="Login">ir a Login</a>
            </div>
        </div>
    </div>

