@{
    ViewData["Title"] = "Home Page";
}

<!-- Slider -->
<div class="row">
    <div class="col-12">
        <div class="row slider d-flex justify-content-center">
            <div class="col-10">
                <div class="carousel slide" id="slider" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider" data-slide-to="0" class="active bg-info"></li>
                        <li data-target="#slider" data-slide-to="1" class="bg-info"></li>
                        <li data-target="#slider" data-slide-to="2" class="bg-info"></li>
                        <li data-target="#slider" data-slide-to="3" class="bg-info"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/img/imagen1.jpg" alt="imagen 1" class="d-block img-fluid">
                        </div>
                        <div class="carousel-item">
                            <img src="~/img/imagen4.jpg" alt="imagen 2" class="d-block img-fluid">
                        </div>
                        <div class="carousel-item">
                            <img src="~/img/imagen3.jpg" alt="imagen 3" class="d-block img-fluid">
                        </div>
                        <div class="carousel-item">
                            <img src="~/img/imagen4.jpg" alt="imagen 4" class="d-block img-fluid">
                        </div>
                    </div>

                    <a href="#slider" class="carousel-control-prev" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Anterior</span>
                    </a>
                    <a href="#slider" class="carousel-control-next" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Siguiente</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about.</p>
</div>
