@model PetFinder.Models.LoginView

<h4 style="text-align:center;">Ingresar/Registrarse</h4>
<hr />
<div class="row d-flex justify-content-center">
    <div class="col-10 col-md-8 login">
        <form asp-action="Login" class="needs-validation" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group has-danger">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" required/>
                <div class="invalid-feedback">Ingrese un correo valido!!!</div>
            </div>
            <div class="form-group">
                <label asp-for="Clave" class="control-label"></label>
                <input asp-for="Clave" class="form-control" required/>
                <div class="invalid-feedback">Ingrese una contraseña!!!</div>
            </div>

            <div class="form-group d-flex justify-content-around">
                <div><input type="submit" value="Ingresar" class="btn btn-primary" /></div>
                <div><a asp-controller="Usuario" asp-action="Create"
                        class="btn btn-outline-danger"><span>Registrarse</span></a></div>
            </div>
            <span style="color:red">@ViewBag.Mensaje</span>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
