@model PetFinder.Models.Mascota

@{
    ViewData["Title"] = "Cargar";
}

<style>
    .pac-container {
        z-index: 99999;
    }
</style>

<h4 class="d-inline-flex">Cargar Mascota</h4>&nbsp;<small class="d-inline-flex text-danger">No se olvide de llenar todos los campos</small>

<div class="row detalle_mascota mb-2">
    <div class="col-md-11">
        <form asp-action="Create" enctype="multipart/form-data" method="post" id="form_datos" class="needs-validation" novalidate>
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-12 col-md-6">
                    <div>
                        <input asp-for="ArchivoImagen" type="file" class="form-control" accept="image/*" required />
                    </div>
                    <br />
                    <button type="button" data-toggle="modal" data-target="#ModalMap" class="btn btn-warning text-sm-center">
                        <img src="~/icons/marker.png" /><span id="ubicacion">&nbsp;Seleccionar Ubicación:</span>
                    </button>

                    <div class="modal fade" id="ModalMap" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="form-horizontal">
                                        <div class="form-group form-inline">
                                            <label class="control-label">Ubicación:</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="ModalMapAddress" />
                                            </div>
                                            <div class="col-sm-1">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            </div>
                                        </div>
                                        <div id="ModalMapPreview" style="width: 100%; height: 400px;"></div>
                                        <div class="clearfix">&nbsp;</div>
                                        <div class="form-group form-inline">
                                            <label class="p-r-small col-sm-1 control-label">Lat.:</label>
                                            <input type="text" class="form-control p-r-small col-sm-3 mr-3" id="ModalMap-lat" />

                                            <label class="p-r-small col-sm-1 control-label">Long.:</label>
                                            <input type="text" class="form-control p-r-small col-sm-3 mr-3" id="ModalMap-lon" />

                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <table class="mt-2">
                        <tr>
                            <td>
                                Zona:
                            </td>
                            <td colspan="4" class="td_detalle">
                                <textarea id="ubi" asp-for="Lugar.Zona" class="form-control" placeholder="Zona donde se perdio la mascota" required></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Lat.:
                            </td>
                            <td>
                                <input id="lat" asp-for="Lugar.Latitud" class="form-control" readonly required />
                            </td>
                            <td>
                                Lon.:
                            </td>
                            <td>
                                <input id="lon" asp-for="Lugar.Longitud" class="form-control" readonly required />
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="col-12 col-md-6">
                    <table>
                        <tr>
                            <td>
                                Nombre
                            </td>
                            <td class="td_detalle">
                                <input asp-for="NombreMascota" class="form-control" required />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Raza
                            </td>
                            <td class="td_detalle">
                                <input asp-for="Raza" class="form-control" required />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Edad
                            </td>
                            <td class="td_detalle">
                                <input asp-for="Edad" class="form-control" placeholder="ej 2 años y 3 meses" required />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Tama&ntilde;o
                            </td>
                            <td colspan="2" class="td_detalle">
                                <input asp-for="Tamanio" class="form-control" required />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Descripci&oacute;n
                            </td>
                            <td colspan="2" class="td_detalle">
                                <textarea asp-for="Descripcion" class="form-control" placeholder="Descripcion de su mascota" required></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Fecha
                            </td>
                            <td colspan="2" class="td_detalle">
                                <input asp-for="Fecha" class="form-control" type="date" required />
                            </td>
                        </tr>
                        <tr>
                        </tr>
                    </table>
                    <table class="mt-1">
                        <tr>
                            <td colspan="3">Recompensa(Opcional)</td>
                        </tr>
                        <tr>
                            <td>
                                Monto
                            </td>
                            <td colspan="2">
                                <input id="monto" asp-for="Insentivo.Monto" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Tiempo
                            </td>
                            <td colspan="2">
                                <input id="tiempo" asp-for="Insentivo.Tiempo" class="form-control" placeholder="Duracion de la recompensa en dias" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <div class=" d-flex justify-content-around">
                        <div>
                            @if (ViewBag.Ok == null)
                            {
                                <input type="submit" value="Guardar" class="btn btn-primary" />
                            }
                            else
                            {
                                <span style="color:forestgreen; font-weight:bold;" class="text-center">@ViewBag.Mensaje</span>
                            }
                        </div>
                        <div>
                            <a asp-controller="Home" asp-action="Index" class="btn btn-success">Volver</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src='https://maps.google.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyCfIMAGCSKeLJPoUwDPnGz7pB4-exX76Dk'></script>
<script src="~/js/locationpicker.jquery.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

<script>
    $("#ModalMapPreview").locationpicker({
        location: {
            latitude: -33.302103,
            longitude: -66.337091
        },
        enableAutocomplete: true,
        inputBinding: {
            latitudeInput: $('#ModalMap-lat'),
            longitudeInput: $('#ModalMap-lon'),
            locationNameInput: $('#ModalMapAddress')
        },

        onchanged: function (currentLocation, radius, isMarkerDropped) {
            $("#lat").val($("#ModalMap-lat").val());
            $("#lon").val($("#ModalMap-lon").val());
            $("#ubi").val($("#ModalMapAddress").val());
        }
    });
    $("#ModalMap").on("shown.bs.modal", function () {
        $("#ModalMapPreview").locationpicker("autosize");
    });

    /***************************************/

    $("#form_datos").submit(function () {

        if ($("#monto").val() == "" && $("#tiempo").val() == "") {
            $("#monto").val(0);
            $("#tiempo").val(0);
            return true;
        }
    });
</script>


