@model PetFinder.Models.Mascota

@{
    ViewData["Title"] = "Detalle";
}


<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyCfIMAGCSKeLJPoUwDPnGz7pB4-exX76Dk"></script>
<div class="row">
    <div class="col-md-12">
        <div class="row detalle_mascota">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-12 col-md-6">
                <div class="foto_mascota_detalle">
                    <img src="~/imagenesUsuarios/@Model.Imagen" style="height:135px;" />
                </div>
                <div class="mt-2">
                    <div class="form-inline">
                        <div class="col-2 col-md-1">
                            <label>Zona:</label>
                        </div>
                        <div class="col-9">
                            <textarea asp-for="Lugar.Zona" class="form-control" maxlength="30" rows="1" cols="40" readonly></textarea>
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="col-2 col-md-1">
                            <label>Lat.:</label>
                        </div>
                        <div class="col-9">
                            <input id="lat" asp-for="Lugar.Latitud" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="col-2 col-md-1">
                            <label>Long.:</label>
                        </div>
                        <div class="col-9">
                            <input id="lon" asp-for="Lugar.Longitud" class="form-control" readonly />
                        </div>
                    </div>
                </div>
                <div id="mapaStatic" style="width:100%; height:250px;" class="mb-2 mt-2"></div>
            </div>
            <div class="col-12 col-md-6">
                <div>
                    <div class="form-inline">
                        <div class="col-4 col-md-3">
                            <label>Nombre</label>
                        </div>
                        <div>
                            <input asp-for="NombreMascota" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="col-4 col-md-3">
                            <label>Raza</label>
                        </div>
                        <div class="">
                            <input asp-for="Raza" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="col-4 col-md-3">
                            <label>Edad</label>
                        </div>
                        <div class="">
                            <input asp-for="Edad" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="col-4 col-md-3">
                            <label>Tama&ntilde;o</label>
                        </div>
                        <div class="">
                            <input asp-for="Tamanio" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="col-4 col-md-3">
                            <label>Descripcion</label>
                        </div>
                        <div class="">
                            <textarea asp-for="Descripcion" class="form-control" cols="30" readonly></textarea>
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="col-4 col-md-3">
                            <label>Fecha</label>
                        </div>
                        <div class="">
                            <input asp-for="Fecha" class="form-control" readonly />
                        </div>
                    </div>
                </div>
                <div class="mt-1">

                    @if (Model.RecompensaId != 1)
                    {
                        <div>
                            <label>Recompensa</label>
                        </div>
                        <div class="form-inline">
                            <div class="col-4 col-md-3">
                                Monto
                            </div>
                            <div>
                                <input asp-for="Insentivo.Monto" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="form-inline">
                            <div class="col-4 col-md-3">
                                Tiempo
                            </div>
                            <div>
                                <input asp-for="Insentivo.Tiempo" class="form-control" readonly />
                            </div>
                        </div>
                    }
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <div class=" d-flex justify-content-around">

                            <div>
                               
                                @if (ViewBag.op == "MiMascota")
                                {
                                    <button class="btn-dark">@Html.ActionLink("Volver", "MiMascota", new { id = Model.UsuarioId })</button>
                                    <span>&nbsp;&nbsp;&nbsp;</span>
                                    <button id="eliminar" class="btn-warning" onclick="return confirm('¿Desea eliminar su mascota de la busqueda?')">@Html.ActionLink("Eliminar", "Delete", new { id = Model.MascotaId })</button>
                                }
                                else
                                {
                                    <button class="btn-dark">@Html.ActionLink("Volver", "Index", new { id = Model.UsuarioId })</button>
                                    <span>&nbsp;&nbsp;&nbsp;</span>                                    
                                    <a>@Html.ActionLink("Contacta a su fmilia!", "Details", "Usuario", new { id = Model.UsuarioId })</a>

                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    function mostrarMapa() {
        var lat = document.getElementById('lat').value.replace(",", ".");
        var lon = document.getElementById('lon').value.replace(",", ".");
        var map = document.getElementById('mapaStatic');
        var latLon = new google.maps.LatLng(lat, lon);
        var configMap = {
            zoom: 15,
            center: latLon
        }
        var mapa = new google.maps.Map(map, configMap);
        var configMarker = {
            position: latLon,
            map: mapa
        }
        var marker = new google.maps.Marker(configMarker);
        var options = {
            strokeColor: "#0000FF",
            strokeOpacity: .35,
            strokeWeight: 2,
            fillColor: "#FF0000",
            fillOpacity: .15,
            map: mapa,
            center: latLon,
            radius: 300
        }
        var circle = new google.maps.Circle(options);
    }




    window.addEventListener("load", mostrarMapa, false);
</script>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
